.dashboardActivity {
  .activityContent {
    max-width: 300px;
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 20px;
    transition: all 0.2s;
    position: relative;
    &:hover {
      background-color: #e5e5e5;
      top: -2px;
      box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
    }
  }
  img {
    margin: auto;
  }
  hr {
    width: 80%;
    border: 1px solid #e5e5e5;
    padding: 0px;
    margin: 0px auto;
  }
  .buttonLink {
    color: #fff;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #308f13;
    padding: 3px 20px;
    border-radius: 20px;
    transition: all 0.2s;
    border: none;
    &:hover {
      background-color: #266e0e;
    }
  }
}
